:root {
  --colorGreenDark: #0c7915;
  --colorGreenBright:#8fd14c;
  --colorGreenLight: #cfff9f;
  --colorYellowDark: #b69b04;
  --colorYellowBright:#ffd700;
  --colorYellowLight: #f5e487;
  --colorOrangeDark: #8d5c01;
  --colorOrangeBright: #ffa500;
  --colorOrangeLight: #ffdd9d;
  --colorPurpleDark: #8b028b;
  --colorPurpleBright: #c22fc2;
  --colorPurpleLight: #dd8fdd;
  --colorGrayDark: #505050;
  --colorGrayBright: #808080;
  --colorGrayLight: #e7e7e7;
}
/*-------------- RESET ---------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;

}

body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: repeating-conic-gradient(at -10vw 0px, var(--colorGreenDark) 25%, var(--colorYellowBright) 34%, var(--colorOrangeBright) 36%, var(--colorPurpleDark) 55%);
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 0;
}

header{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 20px;
    background-color: var(--colorGrayDark);
    color:var(--colorGrayLight);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    width: 100%;
}

nav ul {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
}

nav ul li a {
        color:var(--colorGrayLight);

}

.title{
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    color: var(--colorGrayLight);
    text-align: center;
    vertical-align: top;
}

#exosPs{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border-right: 2px solid var(--colorGrayDark);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    color: var(--colorGrayDark);
    text-align: center;
    justify-content: center;
    gap: 2rem;
}
#exos{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    border-left: 2px solid var(--colorGrayDark);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--colorGrayDark);
    text-align: center;
    justify-content: center;
    gap: 2rem;
}

#contact{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    color: var(--colorGrayDark);
    text-align: center;
    justify-content: center;
    gap: 1rem;
}

.btns{
	display:flex;
    flex-direction: row;
    flex-wrap: wrap;
	align-items:center;
	justify-content:center;
    gap: 1rem;
}

.btns button{
    border: var(--colorOrangeBright) solid var(--colorPurpleBright);
	color:var(--colorGrayLight);
	background-color: var(--colorGrayDark);
	
	text-decoration:none;
	cursor:help;
	border-radius: 4px;
	padding:5px;
	margin:4px;
	min-width:80px;
}

footer{
    grid-column: 1 / -1;
    grid-row: 4 / 5;

    display: flex;
    align-items: center;
    background-color: var(--colorGrayDark);
    color:var(--colorGrayLight);
  
    font-size: 0.9rem;
    padding: 20px;
}


/*
header{
    width: 100%;
    height: 32vh;
    min-height: 180px;
    text-align: center;
}

.title{
    color: var(--colorGrayLight);
    text-align: center;
    padding: 2rem;
}

.main_title{
    font-size: 3.25rem;
}

.sub_title{
    font-size: 2.25rem;
}

#exos exosps{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    color: var(--colorGrayLight);
    text-align: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 4rem;
}


.btns{
	display:flex;
    flex-direction: row;
	align-items:center;
	justify-content:center;
}

.btns button{
    border: var(--colorOrangeBright) solid var(--colorPurpleBright);
	color:var(--colorGrayLight);
	background-color: var(--colorGrayDark);
	
	text-decoration:none;
	cursor:pointer;
	border-radius: 4px;
	padding:5px;
	margin:4px;
	min-width:80px;
}

footer{
    display: flex;
    width: 100%;
    height: 3vh;
    align-items: center;
    color:var(--colorGrayLight);
    
    font-size: 0.9rem;
    padding-right: 10px;

}
*/